__pycache__/
__pypackages__/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.dmypy.json
.DocumentRevisions-V100
.DS_Store
.eggs/
.env/
.fseventsd
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.nox/
.prof
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.scrapy
.Spotlight-V100
.spyderproject
.spyproject
.TemporaryItems
.tox/
.Trashes
.venv/
.VolumeIcon.icns
.webassets-cache
*.cover
*.DS_Store
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.pyc
*.sage.py
*.so
*.spec
*$py.class
/site
build/
celerybeat-schedule
celerybeat.pid
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
doc/_build/
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
Icon
instance/
ipython_config.py
local_settings.py
MANIFEST
media
Network Trash Folder
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
pytestdebug.log
pythonenv*
sdist/
settings.py
share/python-wheels/
target/
Temporary Items
Thumbs.db
var/
venv.bak/
venv/
wheels/